<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <div class="d-flex justify-content-between align-items-center w-100">
      <strong class="text-gray-dark">
				<%= comment.name %>
			</strong>
			<div>
				<%= link_to 'Удалить', [comment.task.project, comment.task, comment], method: :delete, data: { confirm: 'Вы уверены?'} %> 
				| <%= link_to 'Изменить', edit_project_task_comment_path(comment.task.project, comment.task, comment) %>
			</div>
		</div>
		<span class="d-block"><%= comment.body %></span>
	</div>
</div>
