<tr>
	<td><%= link_to task.title, [task.project, task] %></td>
	<td><%= task.user.email %></td>
	<% if current_user %>
		<td><%= link_to 'Изменить', edit_project_task_path(task.project, task) %>
		 | <%= link_to 'Удалить', [task.project, task], method: :delete, data: { confirm: 'Вы уверены?' } %>
		</td>
	<% end %>
</tr>
