<tr>
	<td><%= task.title %></td>
	<% if current_user == User.find(3) %>
		<td><%= link_to 'Изменить', edit_project_task_path(task.project, task) %>
		 | <%= link_to 'Удалить', [task.project, task], method: :delete, data: { confirm: 'Вы уверены?' } %>
		</td>
	<% end %>
</tr>
