<div class="row">
	<div class="col-md-8 order-md-1">
		<h3 style="margin-top: 5%">Изменить задачу</h3>
      <%= form_for ([@project, @task]) do |f| %>
      <div class="col-md-6 mb-3">
        <%= f.text_field :title, placeholder: "Название задачи", class: "form-control", style: "margin-bottom:10px" %>
        <%= f.text_area :body, placeholder: "Описание задачи", class: "form-control", style: "margin-bottom:10px" %>
        <%= f.submit "Сохранить задачу", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
	</div>
</div>
