<h1 class="title">
	<%= @project.project_title %>
</h1>
<p>
	<%= link_to 'Изменить', edit_project_path(@project) %>
	| <%= link_to 'Удалить', project_path(@project), method: :delete, data: { confirm: 'Вы уверены?'} %>
</p>
