<%= simple_form_for @project do |f| %>
		<div class="col-md-6 mb-3">
		<%= f.input :project_title, label: "Введите название проекта:" %>
		<%= f.button :submit, "Сохранить проект", class: "btn btn-primary btn-lg btn-block" %>
	</div>
<% end %>
